@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fredoka:wght@300&family=Pacifico&family=Poppins:ital,wght@1,100&display=swap');

body{
    background-color: dodgerblue
}
.holder{
    text-align: center;
    margin-top: 100px;
}

.heading{
    font-family: 'Fredoka One' ,cursive;
    font-size: 70px;
    -webkit-text-stroke: 3px white;
    color: #FAB201;
}

.content{
    margin-top: 40px;
    display: grid;
    grid-template: repeat(3, 90px) / repeat(3, 90px);
    margin-left: 610px;
}

.boxes{
    background-color: aliceblue;
    height: 80px;
    width: 80px; 
    border-radius: 10px;  
}

.conclude{
    font-family: 'Caveat Brush', cursive;
    font-family: 'Fredoka', sans-serif;
    margin-left: 25px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    font-size: 25px;
    -webkit-text-stroke: 5px white;
}

@media (max-width: 426px) {
    body{
        max-width: 425px;
    }

    .content{
        margin-left: 80px;
    }
}